body{
    background-color: #ced6e0;
    padding: 0;
    margin: 0;
}

.container {
    margin-top: 3vh;
    border-radius: 10px;
  }

.button{
    background-color: #2f3542;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    margin: 10px;
}
.button:hover{
    background-color: #f1c40f;
    color: #2f3542;
}
.button:active{
    background-color: #c39e0d;
    color: #2f3542;
    scale: 0.9;
}