.product-container{
    display: grid;
    grid-template-columns: 1fr 0.3fr;
  border: 3px solid #2f3542;
  border-radius: 10px;
  
}

.product-operations{
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    padding-bottom: 2vh;
}

.input-group{

}

.product-addButton{
    width: 40%;
}

.product-container-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    grid-gap: 2vw;
    max-height: 70vh;
    overflow-y: auto;
  }
  
  .product-element {
    border: 3px solid #2f3542;
    border-radius: 10px;
    padding: 1%;
    display: grid;
    grid-template-columns: minmax(100px, 1fr) 1fr;
    justify-items: center;
    align-items: center;
    font-weight: 500;
    overflow: hidden;
  }
  
  .product-element-info {
    width: 80%;
    display: grid;
    place-items: center;
    font-size: 1.1rem;

  }
  
  .product-element-info h2{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .product-element-info p{
      margin: 0;
      padding: 0;
  }
  .product-price{
      color: #0f0f0ff4;
  }
  .product-info-tags{
    color: #6c6d6ce0;
    display: inline;
  }
  
  .product-element-operation{
      background-color: #2f3542;
      color: #ced6e0;
      border-radius: 6px;
      width: 90%;
      
  }
  
  .productOrder-form{
    border: 3px solid #2f3542;
    border-radius: 10px;
    display: grid;
    place-items: center;
    align-content: space-between;
    margin-left: 5%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .product-element-buttons{
    display: flex;
    justify-content: space-around;
    width: 90%;
  }
  .product-editButton:hover{
    background-color: #253760;
    color: #ced6e0;
  }
  .product-deleteButton:hover{
    background-color: #783831;
    color: #ced6e0;
  }

  .product-updatesubmit-button{
    background-color: #536b20;
    color: #ced6e0;
  
  }

  .product-updatesubmit-button:hover{
    background-color: #405217;
    color: #ced6e0;
  }

  .product-cancel{
    background-color: #6d1f16;
    color: #ced6e0;
  }
  .product-cancel:hover{
    background-color: #51160f;
    color: #ced6e0;
  }